<% cache @product do %>
  <h1><%= @product.name %></h1>
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>
  <%= @product.description %>
  <%= render "inventory", product: @product %>
<% end %>

<%= link_to "Back", products_path %>

<% if authenticated? %>
  |
  <%= link_to "Edit", edit_product_path(@product.id) %>
  |
  <%= button_to "Delete",
  @product,
  method: :delete,
  data: {
    turbo_confirm: "Are you sure?",
  } %>
<% end %>
